# first list the packages you wish to download from PyPI
teachbooks==0.2.1 # depends on jupyter-book
jupyterbook-patches
sphinx-image-inverter
download_link_replacer
sphinx-exercise
teachbooks-sphinx-tippy
#sphinx-iframes 
git+https://github.com/TeachBooks/sphinx-iframes.git@dbc55a0
sphinx-named-colors

# Now list the packages you want to download directly from GitHub
git+https://github.com/TeachBooks/Sphinx-Thebe